body {
 color: white;
 background: black;
 margin: 0px;
 font-family: "Monoton", sans-serif;
}

header {
    border~bottom: solid 2px #15a5e3;
    padding: 20px;
    font-size: 50px;
    color: #45f5f0;
}

sentindo {
    background: #0628e9;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

 .texto { 
   margin-right: 5%;
 }

h1 {
    font-size: 40px;
}

p {
  fonte-size: 40px;
}






























 
